@import url("/src/assets/stylesheets/fonts.css");
#root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /* Primary */
  --marine-blue: hsl(213, 96%, 18%);
  --purplish-blue: hsl(243, 100%, 62%);
  --pastel-blue: hsl(228, 100%, 84%);
  --light-blue: hsl(206, 94%, 87%);
  --strawberry-red: hsl(354, 84%, 57%);

  /* Neutral */
  --cool-gray: hsl(231, 11%, 63%);
  --light-gray: hsl(229, 24%, 87%);
  --magnolia: hsl(217, 100%, 97%);
  --alabaster: hsl(231, 100%, 99%);
  --white: hsl(0, 0%, 100%);
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: var(--light-blue);
  font-family: "Ubuntu";
}

body {
  padding: 0;
  margin: 0;
}

.main-container {
  display: flex;
  padding: 2rem;
  border-radius: 1rem;
  background-color: var(--white);
  box-shadow: 0 0 0.5rem 0.1rem var(--light-gray);
  min-width: 30vw;
  width: fit-content;
}

.sidebar-container {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  border-radius: 1rem;
  gap: 1rem;
  background-image: url("./assets/images/bg-sidebar-desktop.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  width: 274px;
  height: 568px;
}

.sidebar {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.sidebar-counter {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.1rem solid white;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  text-align: center;
  font-weight: bold;
}

.sidebar-info {
  display: flex;
  flex-direction: column;
}

.sidebar-step-text {
  color: var(--cool-gray);
}

.sidebar-step-desc {
  color: var(--white);
  font-weight: bold;
}

.sidebar-counter-active {
  background-color: var(--light-blue);
  color: #242424;
}

.form-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 3fr 1fr;
  padding-left: 5vw;
  padding-right: 5vw;
  width: 25vw;
  justify-content: space-between;
  height: 568px;
  width: 450px;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.form-header-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  height: fit-content;
  grid-template-columns: 1;
  grid-template-rows: 1;
}

.form-header {
  font-weight: 700;
  color: var(--marine-blue);
  font-size: 2rem;
  margin-bottom: 0;
}

.form-desc {
  color: var(--cool-gray);
  margin-top: 0;
}

.form-buttons {
  flex: 1;
  display: flex;
  width: 100%;
  align-items: flex-end;
  justify-content: space-between;
}

.form-next-step {
  padding: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  color: white;
  background-color: var(--marine-blue);
  border-radius: 1rem;
  justify-self: flex-end;
  align-self: flex-end;
  border-color: var(--marine-blue);
  outline-color: var(--marine-blue);
  outline: var(--marine-blue);
  height: fit-content;
}

.form-next-step:hover {
  background-color: #2497d9;
  border-color: #2497d9;
  outline-color: #2497d9;
  outline: #2497d9;
}

.form-previous-step {
  padding: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  color: var(--light-gray);
  background-color: #fff;
}

.attribution {
}
