.plan-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 1fr;
  justify-content: space-between;
  width: 100%;
}

.selection-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  justify-content: center;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.plan-selection {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 1rem;
  border: 0.1rem solid var(--light-gray);
  padding: 1rem;
  cursor: pointer;
  /* height: 8vw;
  width: 6.5vw; */
}

.plan-selection:hover {
  border-color: var(--purplish-blue);
  background-color: var(--magnolia);
}

.plan-selection-selected {
  border-color: var(--purplish-blue);
  background-color: var(--magnolia);
}

.plan-image {
  width: 3rem;
  margin-bottom: 45%;
  pointer-events: none;
}

.plan-desc {
  display: flex;
  flex-direction: column;
  pointer-events: none;
}

.plan-name {
  color: var(--marine-blue);
  font-weight: 700;
  pointer-events: none;
}

.plan-price {
  color: var(--cool-gray);
  pointer-events: none;
}

.switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.switch input {
  display: none;
}

.slider {
  background-color: var(--marine-blue);
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: 0.4s;
  width: 26px;
}

input:checked + .slider {
  background-color: var(--marine-blue);
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.container {
  margin: 0 auto;
}

.plan-rate {
  grid-column: 1 / 4;
  grid-row: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  background-color: var(--magnolia);
  padding: 1rem;
  border-radius: 1rem;
  height: fit-content;
}

.plan-rate-text {
  color: var(--cool-gray);
  font-weight: 700;
}

.plan-rate-selected {
  color: var(--marine-blue);
}

.plan-buttons {
  display: flex;
  align-self: flex-end;
  justify-content: space-between;
}
