.component-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.summary-container-main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.summary-container {
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  background-color: var(--magnolia);
  gap: 1rem;
  height: fit-content;
  padding-bottom: 1rem;
}

.summary-plan-container {
  display: flex;
  align-items: center;
  padding: 1rem;
  cursor: pointer;
  justify-content: space-between;
}

.summary-plan {
  display: flex;
  flex-direction: column;
}

.summary-plan-desc {
  color: var(--marine-blue);
  font-weight: 700;
}

.summary-pricing {
  color: var(--marine-blue);
  font-weight: 700;
}

.summary-line {
  border-top: 0.1rem solid gray;
  width: 80%;
  align-self: center;
}

.summary-addons {
  display: flex;
  flex-direction: column;
  color: var(--cool-gray);
  gap: 1rem;
  font-weight: 400;
}

.summary-service {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 1rem;
  margin-right: 1rem;
}

.summary-service-plan {
  font-size: .95rem;
}

.summary-service-price {
  color: var(--marine-blue);
}

.summary-total-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--cool-gray);
}

.summary-total-text {
  background-color: white;
  margin-left: 1rem;
}

.summary-total-price {
  margin-right: 1rem;
  color: var(--purplish-blue);
  font-weight: 700;
  font-size: 1.5rem;
}

.form-previous-step:hover {
  color: var(--cool-gray);
  border-color: #fff;
  outline: #fff;
}

.form-confirm {
  padding: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  color: white;
  background-color: var(--marine-blue);
  border-radius: 1rem;
  width: fit-content;
  justify-self: flex-end;
  margin-right: 1rem;
}

.form-confirm:hover {
  background-color: var(--purplish-blue);
  border-color: none;
}

.change-plan-link {
  color: var(--cool-gray);
  text-decoration: underline;
}

.change-plan-link:hover {
  color: var(--purplish-blue);
}

@media (max-width: 1000px) {
  .component-container {
    background-color: white;
    width: 90%;
    align-self: center;
    border-radius: 1rem;
    gap: 1rem;
  }
  .summary-container-main {
    width: 90%;
    background-color: white;
    align-self: center;
    justify-content: space-between;
    margin: 0rem;
    padding: 1rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    height: fit-content;
  }
  .selection-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }

  .plan-rate {
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    width: 80%;
    justify-self: center;
  }

  .plan-selection-error {
  }

  .plan-image {
    margin-bottom: 0px;
  }
}
