.pi-container {
  display: grid;
  justify-content: space-between;
  width: fit-content;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.form-input-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.form-pi-text-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-text {
  color: var(--marine-blue);
  font-weight: 500;
}

.pi-error-name {
  display: none;
}
.pi-error-email {
  display: none;
}
.pi-error-phone {
  display: none;
}
.pi-form-error {
  color: red;
  font-style: italic;
  font-weight: 600;
  font-size: .9rem;
  display: block;
}

.text-input {
  padding: 1rem;
  font-size: 1rem;
  color: var(--marine-blue);
  border: 0.1rem solid var(--light-gray);
  border-radius: 1rem;
  font-weight: 700;
}

.text-input:focus {
  outline: none;
  border-color: var(--purplish-blue);
}

.pi-input-error {
  outline: none;
  border-color: red;
}
