.pi-container {
  display: grid;
  justify-content: space-between;
  width: fit-content;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form-input-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.form-text {
  color: var(--marine-blue);
  font-weight: 500;
}

.text-input {
  padding: 1rem;
  font-size: 1rem;
  color: var(--marine-blue);
  border: 0.1rem solid var(--cool-gray);
  border-radius: 1rem;
  font-weight: 700;
}

.text-input:focus {
  outline: none;
  border-color: var(--purplish-blue);
}

.form-buttons {
  flex: 1;
  display: flex;
  width: 100%;
  align-items: flex-end;
  justify-content: space-between;
}

.form-next-step {
  padding: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  color: white;
  background-color: var(--marine-blue);
  border-radius: 1rem;
  justify-self: flex-end;
  align-self: flex-end;
  border-color: var(--marine-blue);
  outline-color: var(--marine-blue);
  outline: var(--marine-blue);
  height: fit-content;
}

.form-next-step:hover {
  background-color: #2497d9;
  border-color: #2497d9;
  outline-color: #2497d9;
  outline: #2497d9;
}

.form-previous-step {
  padding: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  color: var(--light-gray);
  background-color: #fff;
}

.attribution {
}
