.plan-selection-error {
  grid-column: 1;
  grid-row: 4;
  justify-self: center;
  align-self: self-end;
  height: 1rem;
  color: red;
  font-weight: 600;
  margin: 1rem;
}

.component-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.plan-container {
  flex: 1;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 1fr auto;
  justify-content: space-between;
  max-width: 100%;
  row-gap: 1rem;
}

.selection-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  justify-content: center;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.plan-selection {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 1rem;
  border: 0.1rem solid var(--light-gray);
  padding: 1rem;
  cursor: pointer;
  width: 75%;
}

.plan-selection:hover {
  border-color: var(--purplish-blue);
}

.plan-selection-selected {
  border-color: var(--purplish-blue);
  background-color: var(--magnolia);
}

.plan-image {
  width: 3rem;
  margin-bottom: 35%;
  pointer-events: none;
}

.plan-desc {
  display: flex;
  flex-direction: column;
  pointer-events: none;
}

.plan-name {
  color: var(--marine-blue);
  font-weight: 700;
  pointer-events: none;
}

.plan-price {
  color: var(--cool-gray);
  pointer-events: none;
}

.plan-yearly-free {
  font-style: italic;
  color: var(--marine-blue);
  font-size: 0.8rem;
  height: 0.8rem;
}

.plan-yearly-invisible {
  opacity: 0;
}

.switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.switch input {
  display: none;
}

.slider {
  background-color: var(--marine-blue);
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: 0.4s;
  width: 26px;
}

input:checked + .slider {
  background-color: var(--marine-blue);
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.container {
  margin: 0 auto;
}

.plan-rate {
  grid-column: 1 / 4;
  grid-row: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  background-color: var(--magnolia);
  padding: 1rem;
  border-radius: 1rem;
  height: fit-content;
}

.plan-rate-text {
  color: var(--cool-gray);
  font-weight: 700;
  font-size: 1rem;
}

.plan-rate-selected {
  color: var(--marine-blue);
}

.plan-buttons {
  display: flex;
  align-self: flex-end;
  justify-content: space-between;
}

@media (max-width: 1000px) {
  .component-container {
    background-color: white;
    width: 100%;
    align-self: center;
    border-radius: 1rem;
  }
  .plan-container {
    grid-template-rows: 2fr auto auto;
    width: 100%;
    background-color: white;
    align-self: center;
    justify-content: space-between;
    margin-left: 0rem;
    margin-right: 0rem;
    padding: 0rem;
    border-bottom-left-radius: 0rem;
    border-bottom-right-radius: 0rem;
    height: fit-content;
  }
  .plan-rate-text {
    color: var(--cool-gray);
    font-weight: 700;
    font-size: 0.7rem;
  }
  .selection-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }

  .plan-selection {
    justify-self: center;
    height: fit-content;
    flex-direction: row;
    justify-content: flex-start;
    gap: 1rem;
  }

  .plan-rate {
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
  }

  .plan-selection-error {
    grid-row: 4;
    margin: 1rem;
  }

  .plan-image {
    margin-bottom: 0px;
  }
}
